h1  {
  font-size: 250%;
}

h2  {
  font-size: 120%;
}

.section-home {
  /*height: 100% ;
  min-height: 1200px ;*/
  min-height: 100% ;
  padding-top: 150px ;
  text-align: left ;
  text-align: center
}

.section-whatwedo {
  /*height: 200% ;
  min-height: 2800px ;*/
  min-height: 200% ;
  padding-top: 100px ;
  text-align: center
}

.section-projects {
  /*height: 100% ;
  min-height: 2400px ;*/
  min-height: 100% ;
  padding-top: 100px ;
  text-align: center
}

.section-partners {
  /*height: 100% ;
  min-height: 1200px ;*/
  min-height: 100% ;
  padding-top: 100px ;
  text-align: center
}

.section-contact {
  height: 100% ;
  padding-top: 100px ;
  text-align: center
}